{% extends "notes/base.html" %}

{% block head %}

<style>

#divgrups {
    -webkit-columns: 100px 4; /* Chrome, Safari, Opera */
    -moz-columns: 100px 4; /* Firefox */
    columns: 100px 4;
    margin-top: 20px;
}

</style>

<script type="text/javascript">

$(document).ready(function() {
    $.getJSON("/notes/anys", function(data) {
        for (var i=0; i<data.length; i++) {
            $("#any").append('<option value="' + data[i][0] + '">' + data[i][1] + '</option>');
        }
        $("#any").change();
    });

    $("#any").change(function() {
        var anyid = $(this).val();
        $("#inter").text("");
        $.get("/notes/intersany/" + anyid, function(data) {
            for (var i=0; i<data.length; i++) {
                $("#inter").append("<option value=" + data[i][0] + ">" + data[i][1] + "</option>");
            }
            $("#inter").change();
        });
    });

    $("#inter").change( function() {
        $("#divgrups").text("Carregant...");
        $("#divgrups").load("/notes/grupsany/" + $(this).val());
    })

});

</script>



{% endblock %}


{% block content %}

<h1> Administra cursos d'una interavaluació </h1>

<table>
    <tr> <td>Any:</td> <td> <select id="any"> </select> </td> </tr>
    <tr> <td>Interavaluació:</td> <td> <select id="inter"> </select> </td> </tr>
</table>

<div id="divgrups"> </div>


{% endblock %}
