{% extends "notes/base.html" %}



{% block content %}

<div ng-controller="adminInterController">
<h1> Administra Interavaluacions </h1>

<label>Any</label> <select ng-options="a.nom for a in anys track by a.id" ng-model="selectedAny" class="form-control"></select>
<br>
<label>Inter</label> <select class="form-control" ng-options="i.nom for i in selectedAny.inters track by i.id" ng-model="selectedInter" ng-change="showCursos()"></select>
<br>
<div ng-show="cursos != null">
    <div class="divcols">
        <div ng-repeat="c in cursos">
            <input type="checkbox" ng-model=c.checked> </input> // c.nom // <br>
        </div>
    </div>
    <br>
    <label>TipNotes</label>
    <select class="form-control" multiple ng-options="t.nom for t in tipnotes track by t.id" ng-model="selectedTipNotes"></select>
    <br>
    <br>
    <button ng-click="desaCursos()" class="btn btn-default"> Desa </button>

</div>


{% endblock %}
