{% extends "notes/base.html" %}

{% block head %}

<style>

#divassignatures {
    -webkit-columns: 100px 4; /* Chrome, Safari, Opera */
    -moz-columns: 100px 4; /* Firefox */
    columns: 100px 4;
    margin-top: 20px;
}

</style>

<script type="text/javascript">

$(document).ready(function() {

    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $.getJSON("/notes/anys", function(data) {
        for (var i=0; i<data.length; i++) {
            $("#any").append('<option value="' + data[i][0] + '">' + data[i][1] + '</option>');
        }
        $("#any").change();
    });

    $("#any").change(function(data) {
        anyid = $(this).val();
        $("#inter").text("");
        $("#grup").text("");
        $("#divassignatures").text("");
        $.get("/notes/intersany/" + anyid, function(data) {
            for (var i=0; i<data.length; i++) {
                $("#inter").append("<option value=" + data[i][0] + ">" + data[i][1] + "</option>");
            }
            $("#inter").change();
        }, 'json');
    });

    $("#inter").change( function() {
        var n = $(this).val();
        $("#grup").text("");
        $("#divassignatures").text("");
        $.get("/notes/grupsinter/" + n, function(data) {
            for (var i=0; i<data.length; i++) {
                $("#grup").append("<option value=" + data[i][0] + ">" + data[i][1] + "</option>");
            }
            $("#grup").change();
        },
        'json');
    });

    $("#grup").change(function() {
        $("#divassignatures").text("");
    });

    $("#mostra").click( function() {
        $("#divassignatures").load("/notes/assignaturescursos/", {
            inter: $("#inter").val(),
            grup: $("#grup").val(),
        });
        return false;
    });

});

</script>



{% endblock %}


{% block content %}

<table>
    <tr><td>Any: </td> <td> <select id="any"> </select> </td> </tr>
    <tr><td>Interavaluació: </td> <td> <select id="inter"> </select> </td> </tr>
    <tr><td>Curs: </td> <td> <select id="grup"> </select> </td> </tr>
    <tr><td colspan="2">
        <input type="submit" value="mostra" id="mostra">
    </td> </tr>
</table>
<div id="divassignatures"> </div>


{% endblock %}
