{% extends "notes/base.html" %}

{% block head %}

<script type="text/javascript">

$(document).ready(function() {

// 		$.getJSON("/notes/getnotes/{{ grup.id }}/{{ assignatura.id }}", function(data) {
// 			for (alumne in data)
// 				for (tn in data[alumne])
// 					$("[id_al="+alumne+"][id_tn="+tn+"]").val(data[alumne][tn]);
// 		});

		
		$(".nts").change(function() {
			t = $(this);
			data = {
				'nota': t.val(),
				'alumne': t.attr('id_al'),
				'assignatura': {{ assignatura.id }},
				'tnota': t.attr('id_tn')
			};
			$.post("/notes/nnota", data);
			
		});
		
		$(".ncom").click(function() {
			var s = $(this).parent().serialize();
// 			alert(s);
			$.post("/notes/noucomentari", s);
			alert("Comentari actualitzat");
			return false;
		
		});
		
		

});


</script>

<style type="text/css">
	
</style>


{% endblock %}


{% block content %}


<h1> Grup: {{ grup }} </h1>
<h2> Assignatura: {{ assignatura.nom }} </h2>

<table>
	<thead>
	<tr><th>.</th>
		{% for t in tipnotes %}
			<th>{{ t.nom }}</th>
		{% endfor %}
		<th> Comentari </th>
	</tr>
	</thead>
	
	<tbody>

	{% for al in alumnes %}
	<tr> <th> {{ al }} </th>

			{% for t in al.notes %}
				<td>
				<select class="nts" id_al="{{al.id}}" id_tn="{{t.tipnota.id}}" title="{{t.tipnota.nom}}">
					<option value="-1"></option>
				{% for i in t.tipnota.grupNota.itemnota_set.all %}
					{% ifequal i.id t.nota.nota.id %}
						<option value="{{ i.id }}" selected="selected">{{ i.it }}</option>
					{% else %}
						<option value="{{ i.id }}">{{ i.it }}</option>
					{% endifequal %}
					
				{% endfor %}
				</select>
				</td>
			{% endfor %}
			<td>
			
			<form method="POST">
			<textarea name="comentari" rows="3" cols="20">{{ al.comm }}</textarea>
			<br>
			<input type="hidden" name="al" value="{{al.id}}">
			<input type="hidden" name="as" value="{{assignatura.id}}">
			<input type="submit" name="envia" value="Actualitza" class="ncom">

			</form>
			
			</td>

	</tr>
	{% endfor %}
	
	</tbody>
</table>

{% endblock %}