<html>

<head>
<script type="text/javascript" src="/static/notes/jquery.js"></script>

<script type="text/javascript">

$(document).ready(function() {

		$.getJSON("/notes/getnotes/{{ curs.id }}/{{ assignatura.id }}", function(data) {
			for (i in data) {
				var alumne = i;
				for (k in data[i]) {
					var tn = k;
					$("[id_al="+alumne+"][id_tn="+tn+"]").val(data[i][k]);						
				}
			}
		});

		
		$(".nts").change(function() {
			t = $(this);
			var nota = t.val();
			var alumne = t.attr('id_al');
			var assignatura = {{ assignatura.id }};
			var tnota = t.attr('id_tn');
			var stri="/notes/nnota/" + alumne + "/" + assignatura + "/" + nota + "/" + tnota;
// 			alert(stri);
			$.get(stri);
			
		});
		
		$(".ncom").click(function() {
			var s = $(this).parent().serialize();
// 			alert(s);
			$.post("/notes/noucomentari", s);
			return false;
		
		});
		
		

});




</script>




</head>


<body>

<a href="/notes/">Tornar a index</a>

<h1> Curs: {{ curs.nom }} </h1>
<h2> Assignatura: {{ assignatura.nom }} </h2>

<table border="1">

	<tr><th>.</th>
		{% for t in tipnotes %}
			<td>{{ t.nom }}</td>
		{% endfor %}
		<td> Comentari </td>
	</tr>

	{% for al in alumnes %}
	<tr> <th> {{ al }} </th>

			{% for t in tipnotes %}
				<td>
				<select class="nts" id_al="{{al.id}}" id_tn="{{t.id}}">
				{% for i in t.itemnota_set.all %}
					<option value="{{ i.id }}">{{ i.it }}</option>
				{% endfor %}
				</select>
				</td>
			{% endfor %}
			<td>
			
			<form method="POST">
			<textarea name="comentari" rows="3" cols="20">{{ al.comm }}</textarea>
			<br>
			<input type="hidden" name="al" value="{{al.id}}">
			<input type="hidden" name="as" value="{{assignatura.id}}">
			<input type="submit" name="envia" value="Actualitza" class="ncom">

			</form>
			
			</td>

	</tr>
	{% endfor %}
</table>



</body>
