

{% for a in assignatures %}

    <input type="checkbox"
        {% if a.checked %} checked {% endif %}
        class="assigcheck" assid="{{ a.id }}"> {{ a }} <br>

{% endfor %}


<script>

    $(".assigcheck").change( function() {
        var checked = $(this).is(':checked');
        var inter = $("#inter").val();
        var grup = {{ grup.id }};
        var assid = $(this).attr('assid');
        $.post("/notes/updateassignaturacurs/", { inter: inter, grup: grup, assid: assid, checked: checked });
    });

</script>
