
{% extends "hub/menu_base.html" %}

{% block baseheader %}

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="/static/notes/stuff.js"></script>
	<script src="/static/notes/notesController.js"></script>
	<script src="/static/notes/adminInterController.js"></script>
	<script src="/static/notes/butlletinsController.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style type="text/css">

	#notesdivmain {
		margin-left: 15px;
		margin-right: 15px;
	}

	.divcols {
	    -webkit-columns: 100px 4; /* Chrome, Safari, Opera */
	    -moz-columns: 100px 4; /* Firefox */
	    columns: 100px 4;
	    margin-top: 20px;
	}


	</style>

	{% block head %}
	{% endblock %}

{% endblock %}


{% block basebody %}

	<div ng-app="app" id="notesdivmain">

		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li>
					 <a href="/notes/cursos"> Llistat de grups </a>
				</li>
				{% if perms.notes.impr_butlletins %}
					<li><a href="/notes/butlletins"> Butlletins </a></li>
				{% endif %}
				{% if user.is_superuser %}
					<li><a href="/notes/adminInter"> Administra interavaluacions </a></li>
				{% endif %}
			</ul>
		</nav>

		{% block content %}
		{% endblock %}
	</div>

{% endblock %}
