
{% extends "hub/menu_base.html" %}

{% block baseheader %}

	<script type="text/javascript" src="/static/notes/jquery.js"></script>

	<style type="text/css">

	p.menu {
		font-size: 14px;
		background-color: #EEE;
		padding: 10px;
		margin-top: 0px;
	}

	p.menu a {
		margin-right: 30px;
	}

	p.menu span a {
		margin-left: 10px;
		margin-right: 10px;
	}

	p.menu span {
		float: right;
		font-size: 16px;
	}


	table {
		border: 1px solid gray;
		border-collapse: collapse;
		font-size: inherit;
	}

	input {
		font-size: inherit;
	}

	table td, table th {
		border: 1px solid gray;
		padding: 5px;
		vertical-align: top;
	}

	table th {
		text-align: left;
		background-color: #DDD;
	}

	body {
		font-size: 12px;
	}

	</style>

	{% block head %}
	{% endblock %}

{% endblock %}


{% block basebody %}

	<p class="menu"> <a href="/notes/cursos"> Llistat de grups </a>
	{% if perms.notes.impr_butlletins %}
		<a href="/notes/butlletins"> Butlletins </a>
	{% endif %}
	{% if user.is_superuser %}
		<a href="/notes/admin"> Administra </a>
	{% endif %}
	</p>


	{% block content %}
	{% endblock %}

{% endblock %}
