<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="/static/notes/jquery.js"></script>

<style type="text/css">

p.menu {
	font-size: 24px;
	background-color: #EEE;
	padding: 10px;
}

p.menu a {
	margin-right: 30px;
}

p.menu span a {
	margin: 0px;
}

p.menu span {
	float: right;
	font-size: 16px;
}


table {
	border: 1px solid gray;
	border-collapse: collapse;
	font-size: inherit;
}

input {
	font-size: inherit;
}

table td, table th {
	border: 1px solid gray;
	padding: 5px;
	vertical-align: top;
}

table th {
	text-align: left;
	background-color: #DDD;
}

body {
	font-size: 12px;
}

</style>

{% block head %}
{% endblock %}


</head>

<body>

<p class="menu"> <a href="/notes/cursos"> Llistat de grups </a>  
{% if perms.impr_butlletins %}
	<a href="/notes/butlletins"> Butlletins </a>
{% endif %}
<span> {{ user.username }} &nbsp; | &nbsp; <a href="/hub/"> Tornar a intranet </a> &nbsp; | &nbsp; <a href="/auth/logout/"> Sortir </a> &nbsp; </span>
</p>


{% block content %}

{% endblock %}

</body>


</html>