{% extends "notes/base.html" %}

{% block head %}

<script type="text/javascript">

$(document).ready(function() {

	$.getJSON("/notes/anys", function(data) {
		for (var i=0; i<data.length; i++) {
			$("#any").append('<option value="' + data[i][0] + '">' + data[i][1] + '</option>');
		}
		$("#any").change();
	});

	$("#any").change(function() {
		anyid = $(this).val();
		$("#inter").text("");
		$("#llistabutlletins").text("");
		$.get("/notes/intersany/" + anyid, function(data) {
			for (var i=0; i<data.length; i++) {
				$("#inter").append("<option value=" + data[i][0] + ">" + data[i][1] + "</option>");
			}
		}, 'json');
	});

	$("#inter").change(function() {
		$("#llistabutlletins").text("");
	});

	$("#mostra").click(function() {
		var inter_id = $("#inter").val();
		var lb = $("#llistabutlletins");
		lb.text("");
		$.get("/notes/grupsinter/" + inter_id, function(data) {
			for (var i=0; i<data.length; i++) {
				lb.append('<li><a href="/notes/butlleti/' + inter_id + '/' + data[i][0] + '">'
				+ data[i][1] + '</a> </li>');
			}
		}, 'json');
	});

});

</script>

{% endblock %}

{% block content %}

<h1> Butlletins </h1>



<table>
<tr> <td> Any: </td> <td> <select id="any"></select> </td> </tr>
<tr> <td>Interavaluació:</td> <td> <select id="inter"></select> </td> </tr>
<tr> <td colspan="2"> <input type="submit" value="mostra" id="mostra"> </td> </tr>
</table>

<ul id="llistabutlletins">
</ul>


{% endblock %}
