<html>

<head>
<script type="text/javascript" src="/static/notes/jquery.js"></script>

<script type="text/javascript">

$(document).ready(function() {

});




</script>




</head>


<body>

<a href="/notes/">Tornar a index</a>

<h1> Curs: {{ curs.nom }} </h1>

<table border="1">

<tr><th>.</th>
{% for a in asgs %}
	<th colspan="{{ntip}}">{{ a.nom }}</th>
{% endfor %}
</tr>

<tr><th>.</th>
{% for a in asgs %}
	{% for t in tipnotes %}
		<td>{{ t.nom }}</td>
	{% endfor %}
{% endfor %}

</tr>


{% for al in alumnes %}

<tr> <th> {{ al }} </th>

	{% for a in asgs %}

		{% for t in tipnotes %}
			<td>
			.
			</td>
		{% endfor %}

	{% endfor %}


</tr>

{% endfor %}


</table>

<form method="POST">

<h3>Afegeix assignatura: </h3>
<input type="text" name="ass"> <br>
<input type="submit" name="newass">


</form>

<form method="POST">


<h3>Afegeix alumne: </h3>
Nom:<br>
<input type="text" name="al"> <br>
Llinatge1:<br>
<input type="text" name="l1"> <br>
Llinatge2:<br>
<input type="text" name="l2"> <br>

<input type="submit" name="newal">


</form>


</body>
