{% extends "notes/base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="/static/notes/stuff.js"></script>

{% endblock %}


{% block content %}

<div ng-app="app">
<div ng-controller="notesController">
	<h1> Introducció notes // prova // </h1>

	<p>
		Interavaluació activa: <b> // av.nom // // av.any //</b>.
	</p>
	<p>
		Es poden posar notes des del // av.data1 // fins a // av.data2 //
	</p>
</div>
</div>

{% endblock %}
