{% extends "notes/base.html" %}

{% block head %}


{% endblock %}


{% block content %}

<div ng-controller="notesController">
	<h1> Introducció notes </h1>

	<div ng-show="mostraLlista">
		<p>
			Interavaluació activa: <b> // av.nom // // av.any //</b>.
		</p>
		<p>
			Es poden posar notes des del // av.data1 // fins a // av.data2 //
		</p>

		<ul>
			<li ng-repeat="g in av.grups">
				<a href="" ng-click="g.visible=!g.visible">[+]</a> // g.nomcomplet //
				<ul ng-show="g.visible">
					<li ng-repeat="a in g.assignatures" ng-click="showCurs(av,g,a)">
						<a href=""> // a.nom // </a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div ng-hide="mostraLlista">
		<h2> // grup.nomcomplet //. Assignatura: // assignatura.nom // </h2>

		<label>Alumne:</label>
		<select ng-options="a.llinatge1 + ' ' + a.llinatge2 + ', ' + a.nom for a in alumnes"
			ng-model="selectedAlumne" ng-change="changedAlumne()" class="form-control">
		</select>

		<div class="col-xs-12" style="height:20px;"></div>
		<div ng-show="dadesAlumne" class="form-group">
			<label for="comment">Comentari:</label>
			<textarea ng-model="dadesAlumne.comentari" class="form-control"> </textarea>
			<div class="col-xs-12" style="height:20px;"></div>

				<table class="table">
					<tr ng-repeat="n in dadesAlumne.notes">
						<th> // n.tipnota.nom // </th>
						<td> <select ng-model="n.notaSelected"
							ng-options="i.it for i in n.its track by i.id"
							ng-init="n.notaSelected.id=n.nota.nota" class="form-control">
						</select>
						</td>
					</tr>
				</table>


			<button ng-click="desa()" class="form-control"> Desa les dades </button>
			<button ng-click="clear()"class="form-control"> Esborra el formulari </button>
		</div>

	</div>

</div>

{% endblock %}
