{% extends "notes/base.html" %}

{% block head %}


{% endblock %}


{% block content %}

<div ng-controller="notesController">
	<h1> Introducció notes </h1>

		<label>Interavaluació:</label>
		<select ng-options="a.nom for a in inters track by a.id"
			ng-change="changedInter()" ng-model="selectedInter" class="form-control">
		</select>

		<br>

	<div ng-show="mostraLlista">
		<p ng-show="av != null">
			Es poden posar notes des del // av.data1 // fins a // av.data2 //
		</p>

		<ul>
			<li ng-repeat="g in av.grups">
				<a href="" ng-click="g.visible=!g.visible">[+]</a> // g.nomcomplet //
				<ul ng-show="g.visible">
					<li ng-repeat="a in g.assignatures" ng-click="showCurs(av,g,a)">
						<a href=""> // a.nom // </a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div ng-hide="mostraLlista">
		<div>
		<a href="" ng-click="back()"> Torna a la llista de cursos </a>
		<div>
		<h4> // grup.nomcomplet //. Assignatura: // assignatura.nom // </h4>

		<label>Alumne:</label>
		<select ng-options="a.llinatge1 + ' ' + a.llinatge2 + ', ' + a.nom for a in alumnes"
			ng-model="selectedAlumne" ng-change="changedAlumne()" class="form-control">
		</select>

		<div class="col-xs-12" style="height:20px;"></div>
		<div ng-show="dadesAlumne" class="form-group">
			<div class="col-xs-12" style="height:20px;"></div>

			<table class="table table-bordered">
				<tr ng-repeat="n in dadesAlumne.notes">
					<th> // n.tipnota.nom // </th>
					<td> <select ng-model="n.notaSelected"
						ng-options="i.it for i in n.its track by i.id" ng-disabled="!av.espodenposarnotes"
						ng-init="n.notaSelected.id=n.nota.nota" class="form-control" ng-change="chg()">
					</select>
					</td>
				</tr>
			</table>

			<label for="comment">Comentari:</label>

			<table class="table table-bordered">
				<tr>
					<td>
						<select ng-model="comentariGeneric" class="form-control" ng-disabled="!av.espodenposarnotes"
							ng-options="option for option in av.coms">
							<!-- <option> Fa molta feina </option>
							<option> Xerra molt </option>
							<option> Necessita esforçar-se més </option> -->
						</select>
					</td>
					<td>
						<button ng-click="insereixComentari()" class="btn btn-default" ng-disabled="!av.espodenposarnotes">Insereix</button>
					</td>
				</tr>
			</table>

			<textarea ng-model="dadesAlumne.comentari" class="form-control"
				ng-change="chg()" ng-disabled="!av.espodenposarnotes"> </textarea>

			<div class="col-xs-12" style="height:20px;"></div>

			<button ng-click="desa()" class="btn btn-default" ng-disabled="!av.espodenposarnotes"> // desaMsg // </button>
				<span><img ng-show="showWait" src="/static/notes/waiting.gif" alt="" width="20px"></span>
			<br><br>
			<button ng-click="clear()" class="btn btn-default" ng-disabled="!av.espodenposarnotes"> Esborra el formulari </button>
		</div>

	</div>

</div>

{% endblock %}
