<html>

<head>
<script type="text/javascript" src="/static/notes/jquery.js"></script>

<script type="text/javascript">


</script>




</head>


<body>

<h1> Introduccio notes </h1>
<ul>
{% for c in cursos %}
	
	<li> <a href="curs/{{ c.id }}">{{ c.nom }}</a> </li>
	<ul>
		{% for a in c.assignatura_set.all %}
			<li> <a href="assignatura/{{ a.id }}">{{ a.nom }}</a> </li>
		{% endfor %}
	</ul>
	
{% endfor %}
</ul>


<h1> Butlletins </h1>
<ul>
{% for c in cursos %}
	
	<li> <a href="butlleti/{{ c.id }}">{{ c.nom }}</a> </li>
	
{% endfor %}
</ul>

</body>
